@import "../../globalAssets/global.scss";

.about {
  h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 100px;
  }
}
.about__description {
  margin-top: 50px;
  margin-left: 100px;
  max-width: 80%;
  width: 930px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 40px;
  color: var(--fontSecondary);
}
