@import "../../globalAssets/global.scss";


.about{
    background-color: rgb(240, 240, 240);
    h3{
        font-size: 80px;
    }
}
.about__description{
    margin-top: 50px;
    margin-left: 100px;
    width: 500px;
}